.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #fafafa;
}

.App-header {
  font-size: calc(20px + 2vmin);
  font-weight: 400;
}

.App-link {
  color: #09d3ac;
}
